name: Build Hoppscotch Offline Docker Images

on:
  workflow_dispatch:

jobs:
  build-offline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------------- Backend ----------------
      - name: Build hoppscotch-backend image
        run: |
          docker build \
            -t hoppscotch-backend-local:latest \
            -f packages/hoppscotch-backend/Dockerfile \
            .

      - name: Save backend image to TAR
        run: |
          docker save hoppscotch-backend-local:latest -o hoppscotch-backend.tar

      # ---------------- Selfhost Web ----------------
      - name: Build hoppscotch-selfhost-web image
        run: |
          docker build \
            -t hoppscotch-selfhost-web-local:latest \
            -f packages/hoppscotch-selfhost-web/Dockerfile \
            .

      - name: Save selfhost web image to TAR
        run: |
          docker save hoppscotch-selfhost-
